// ==============================================
//        JSで使うクラス
// ==============================================

// 上にフワッ(Before)
.effect-fade-up
{
  opacity: 0;
  transform: translate(0, 120px);
  transition: all 1.5s;
}

// 左にフワッ(Before)
.effect-fade-l
{
  opacity: 0;
  transform: translate(40px, 0);
  transition: all 1.5s;
}

// 右にフワッ(Before)
.effect-fade-r
{
  opacity: 0;
  transform: translate(-70px, 0);
  transition: all 1.5s;
}

// 表示クラス(After)
.effect-scroll
{
  opacity: 1;
  transform: translate(0, 0);
}