// アバウトラッパー
.about__wrapper {
  padding: 96px 0;
  max-width: 800px;

}

// アバウトタイトルサブ
.about__title-sub {
  font-size: clamp(16px, 4vw, 24px);
  position: relative;
  width: fit-content;
  letter-spacing: 0.2em;
}

// アバウトタイトルメイン
.about__title-main {
  font-size: clamp(32px, 8vw, 48px);
  position: relative;
  width: fit-content;
  letter-spacing: 0.2em;
  position: relative;
}

// アバウトタイトルオニオン
.about__title-onion {
  width: clamp(36px, 7.5vw, 45px);
  position: absolute;
  top: 20%;
  left: 36%;
  animation: rotateOnion linear infinite 13s;
  @include mq1 {
    width: clamp(30px, 6vw, 48px);
  }
  @include mq2 {
    width: clamp(20px, 4.5vw, 50px);
  }
}

// アバウトボディ
.about__body {
  @include mq2 {
    display: flex;
    margin-top: 50px;
  }
}

// アバウトメインリー
.about__mainly {
  margin-top: 50px;
  text-align: center;
  @include mq2 {
    margin-top: 0;
  }
}

// アバウトメインリーイメージ
.about__mainly-img {
  width: 100%;
  max-width: 250px;

  @include mq2 {
    max-width: 1000px;
  }
}

// アバウトセカンダリー
.about__secondary {
  margin-top: 50px;
  background-color: #fff;
  margin-right: calc(45vw - 80%);
  margin-left: calc(45vw - 80%);
  padding: 56px 12%;
  box-shadow: 0 0 10px #bbb6b4;

  @include mq1 {
    margin-left: 0;
    margin-right: 0;
  }
  @include mq2 {
    margin-top: 0;
    margin-left: 80px;
    padding: 56px 6%;
  }
}

// アバウトセカンダリーカテゴリー
.about__secondary-category {
  font-size: 12px;
}

// アバウトセカンダリーネーム
.about__secondary-name {
  display: flex;
  align-items: flex-end;
  margin-top: 8px;
}

// アバウトセカンダリージャパニーズ
.about__secondary-ja {
  font-size: 24px;
}

// アバウトセカンダリーイングリッシュ
.about__secondary-en {
  font-size: 16px;
  margin-left: 20px;
}

// アバウトセカンダリーテキスト
.about__secondary-text {
  margin-top: 50px;
  font-size: 14px;

  @include mq1 {
    font-size: 16px;
  }
}

// アバウトセカンダリーテキスト
.about__secondary-textParagraph {
  line-height: 1.5;
  font-feature-settings: 'palt';

  &:not(:first-child) {
    margin-top: 10px;
  }
}

// アバウトモア
.about__more {
  margin-top: 50px;
}

// アバウトモアボタン
.about__more-btn {
  width: 100%;
  margin: 0 auto;
  display: block;
  color: #fff;
  background-color: #3f3b3a;
  text-align: center;
  padding: 0.5em 0;
  transition: all 0.4s ease;
  border: 1px solid #3f3b3a;

  &:hover {
    border: 1px solid #3f3b3a;
    background-color: #fff;
    color: #3f3b3a;
  }
}
