// フッターラッパー
.footer__wrapper {
  padding-bottom: 48px;
  text-align: center;
}

// フッターイメージ
.footer__img {
  width: 40%;
  max-width: 200px;
  margin: 0 auto;
  transform: translateX(-30%);
}

// フッターコピーライト
.footer__copyright {
  font-size: 12px;
  margin-top: 96px;
}